.loading {
    &-container {
        z-index:1;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-text {
        color: #fff;
        font-size: 1.3rem;
        margin-bottom: -50px;
    }
}