.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.correct {
    font-weight: bold;
    color: green;
}
.incorrect {
    font-weight: bold;
    color: red;
}
.active {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.feedback {
    background-color: rgba(103, 220, 255, 0.213);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 500px
}

.time-elapsed-and-speed{
    display: flex;
    flex-direction: column;
}

.face-feedback {
    display: flex;
    flex-direction: row;
    width: 400px;

}

.bar-chart {
    width: 75%;
    height: 300px
}