.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-color: black;
}

.timerContainer {
    border-style: solid;
}

.faceContainer {
    border-style: solid;
    // background-color: pink;
}


.correct {
    font-weight: bold;
    color: green;
}
.incorrect {
    font-weight: bold;
    color: red;
}
.active {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.feedback {
    background-color: rgba(103, 220, 255, 0.213);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 500px
}

.time-elapsed-and-speed{
    display: flex;
    flex-direction: column;
}

