.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: 'wrap';

    // flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify;
    padding: 30px;
    margin-top: 50px;

    width: 600px;
    height: 100%;
    
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    // min-height: 100vh;
    // max-height: 100vh;

    z-index: 1;
}

ul {

    padding-left: 15em;
}
