@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


.home {
    display: grid;
    border-color: black;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "menu exercise right-menu""menu exercise right-menu";
}

.exercise-area {
    grid-area: exercise;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0;
}

.target-paragraph {

    width: 900px;
}

.user-paragraph {
    z-index: 1;

}

.side-nav {
    grid-area: menu;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-menu {
    z-index: 1;
    grid-area: right-menu;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 50px;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    min-height: 100vh;
    max-height: 100%;
    overflow: hidden;



    .historyContainer {
        width: 80%;
    }

    .history-card {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        width: 95%;
        background-color: rgb(127, 127, 127, 0.2);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .history {
        margin-top: 50px;
        max-height: 340px;
        overflow-y: auto;
        width: 100%;
        min-height: 340px;
    }

    .history::-webkit-scrollbar {
        width: 12px;
    }

    .history::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
        border-radius: 2px;
    }

    .history::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    }

}

.difficulty-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    select {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        width: 100%;
        outline: none;
        border: none;
        height: 30px;
        border-radius: 5px;

    }
}

// @keyframes slideInFromLeft {
//     0% {
//       transform: translateX(-100%);
//     }
//     100% {
//       transform: translateX(0);
//     }
// }

.timer-container{
    width: 100%;
    padding-top: 15px;
}

.timer-container-started {
    width: 100%;
    padding-top: 15px;
    background-color: black;
    animation: fadein 0.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes incorrect-text {
    0% {opacity:1;}
    25% { opacity:0;}
    50% { opacity:1;}
    65% { opacity:0;}
    80% { opacity:1;}
    90% { opacity:0;}
    100% {opacity:1;}
}

// @keyframes blinker {
//     50% {
//       opacity: 0;
//     }
//   }


// @keyframes NAME-YOUR-ANIMATION {
//     0%, 49% {
//       background-color:  rgba(253, 225, 67, 0.567);
//     //   border: 3px solid #e50000;
//     }
//     50%, 100% {
//     //   background-color: #e50000;
//     //   border: 3px solid rgb(117, 209, 63);
//     }
//   }

@keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
.correct {
    font-weight: bold;
    color: rgb(3, 107, 3);
    animation: fadein 0.5s;
}

.incorrect {
    font-weight: bold;
    color: rgb(148, 0, 0);
    animation: incorrect-text 0.75s;
}

.active {
    font-weight: bold;
    color: rgb(15, 16, 40);
    font-size: 26px;
    text-decoration: underline;
    background-color: rgba(253, 225, 67, 0.567);
    padding: 8px;
    padding-left: 4px;
    padding-right: 4px;
    animation: moveGradient 1s infinite;

    background: linear-gradient(
      60deg,
      rgba(54, 162, 235, 0.5),
      rgba(255, 206, 86, 0.5),

     rgba(75, 192, 192, 0.5),
     rgba(153, 102, 255, 0.5),
     rgba(255, 206, 86, 0.5),

      rgba(255, 99, 132, 0.5),

     rgba(255, 159, 64, 0.5),
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-color: black;
    border-width: 10px;
    animation: moveGradient 4s alternate infinite;
}

.feedback, .feedback-live {
    display: flex;
    width: 100%;
}

.feedback-live {
    background-color: rgba(0, 0, 0, 0.459);
}


.time-elapsed-and-speed {
    display: flex;
    flex-direction: column;
    width: 100%;
}

///@at-root