.side-nav {
    position: relative;
}
.pt-70 {
    padding-top: 70px;
}


div.margin-0 {
    margin: 0;
}


button {

    z-index: 100;
    position: relative;
}

.referral-link {
    z-index: 100;
    position: relative;
    text-align: center;

}

form {

    height: 284px;
}

.center { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
